<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create District</title>   
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div th:replace="fragments/menu :: menu">...</div>
    
    <div id="wrapper">
		<div id="heading">

			<h1>Create District</h1>

		</div>
        <form th:action="@{/processDistrict}" th:object="${district}" method="post" class="createForm" enctype="multipart/form-data">
        	<div class="form-group">
				<label for="districtName">District Name: </label>
				<input type="text" th:field="*{districtName}" class="form-control" required id="districtName" name="districtName" />
        	</div>
        	
        	<div class="form-group">
				<label for="districtCode">District Code: </label>
				<input type="alphanumeric" th:field="*{districtCode}" class="form-control" required id="districtCode" name="districtCode" placeholder="A-123" />
        	</div>
        	
        	<div class="form-row">
        		<div class="form-group col-md-6">
					<label for="districtDescription">District Description: </label>
	            	<input type="text" th:field="*{districtDescription}" class="form-control" required id="districtDescription" name="districtDescription" />
				</div>
				
				<div class="form-group col-md-6">
	                <label for="districtDomain">District Domain: </label>
                   	<input type="text" th:field="*{districtDomain}" class="form-control" required id="districtDomain" name="districtDomain" placeholder="sru.edu" />
				</div>
        	</div>
        	<div class="mb-3">
				<label for="logo" class="form-label">District Logo</label>
				<input class="form-control" type="file" id="logo" name="logo" required>
			</div>
			<div class="mb-3">
				<label for="background" class="form-label">District Background Image</label>
				<input class="form-control" type="file" id="background" name="background" required>
			</div>
	             
            <div>
                <button type="submit" class="btn btn-primary">Create District</button>
                <input type="button" class="btn btn-secondary"  onclick="location.href='/district';" value="Cancel"/>
            </div>
        </form>
        
        <div th:if="${message != null}" class="alert alert-secondary alert-dismissible fade show text-center message mt-3" role="alert">
    		[[${message}]]
		    <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
		    </button>
  		</div>
  		
    </div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>